*{
    width: 100%;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
/* Header section starts*/
header .header-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .header-container .logo{
    width: 300px;
    height: auto;
}
header .header-container .main-menu{
}
header .header-container .main-menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
header .header-container .main-menu ul li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
header .header-container .main-menu ul li:hover a{
    font-weight: 600;
    color: tomato;
}
header .header-container .main-menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color: black;
}
header .header-container .login-menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    margin: 10px;
    padding: 10px;
}
header .header-container .login-menu li{
    list-style: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
header .header-container .login-menu li:hover a{
    font-weight: 600;
    color: #FF5733;
    
}
header .header-container .login-menu li:hover{
    border: 2px solid #FF5733;
    border-radius: 5px;
}
header .header-container .login-menu li a{
    text-decoration: none;
    color: black;
}
/* Footer starts */
footer .footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}
footer .footer-container .logo-desc{
    padding: 10px;
    margin: 10px;
}
footer .footer-container .used-links{
    padding: 10px;
    margin: 10px;
}
footer .footer-container .used-links ul li{
    list-style: none;
}
footer .footer-container .used-links ul li a{
    text-decoration: none;
    color: black;
}
footer .footer-container .contact-us{
    padding: 10px;
    margin: 10px;
}
footer .footer-container .email-contact{
    padding: 10px;
    margin: 10px;
}
footer .footer-container .subscribe-social{
    padding: 10px;
    margin: 10px;
}