{% extends 'base.html' %}
{% load static %}

{% block title %}- registration {% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static '../static/css/register.css' %}">
<div class="mess">
    <h2 class="reg-title">Register</h2>
</div>
{% include 'partials/messages.html' %}
<div class="form-container">
    <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="text" name="first_name" placeholder="First name">
        </div>
        <div class="form-group">
            <input type="text" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" name="password2" placeholder="Confirm Password">
        </div>
        <button class="form-button">Submit</button>
    </form>
</div>
{% endblock content %}